 @import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Labrada:ital,wght@0,100;1,100&family=Mynerve&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&family=Shantell+Sans:ital,wght@0,300;1,300;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
   background-image: url(./img/home.jpg);   
   opacity: 1;
   background-position: center; 
   background-size: cover;
   background-color: aqua;
   color: white;
   font-size: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    border: 3px solid yellow;
}
.btnSection{  
    margin: 20px 0px;
    padding: 0px 40px;
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
}
form{
    width: 40%;
    margin-top: 40px;
}
form button{
    width: 40%;
}
input{
    margin-bottom: 5px;
}
h3{
    padding-top: 10px;
}
#ans{
    background-color: rgba(137, 124, 124,0.6);
    width: 40%;
    outline: 3px solid rgb(215, 215, 208);
    padding: 10px 50px ;
    margin: 20px 0px;
}
#infobox{
    border: 1px solid black;
    padding: 20px;
    margin-top: 5px;
}
span{
    display: flex;
    justify-content: space-between;
}
.topLine{
    border-top: 1px solid black;
}
@media (max-width:981px) {
    img{
        display: none;
    }
}
@media (max-width:800px) {
  #ans{
    padding: 50px 10px;
  }
}
@media (max-width:572px) {
    .container{
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
        outline: none;
    }
    form ,#ans{
        width: 100%;
        padding: 20px;
    }
}