*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(./img/home.jpg);
   opacity: 1;
   background-position: center;
   background-size: cover;
   color: white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
    outline: 3px solid yellow;
    padding: 0px 30px;
}
form{
    width: 40%;
}
#ans{
    background-color: rgba(137, 124, 124,0.6);
    width: 40%;
    outline: 3px solid rgb(215, 215, 208);
    padding: 10px 50px ;
}
span{
    display: flex;
    justify-content: space-between;
}
button{
    width: 40%;
}
input{
    margin-bottom: 5px;
}
label{
    font-size: 20px;
}
h3{
    padding-top: 10px;
}
@media (max-width:971px) {
   .container{
    height: 85vh;
   }
  }
@media (max-width:800px) {
  #ans{
    padding: 50px 10px;

  }
}
@media (max-width:572px) {
    .container{
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px;
        padding: 0px;
        outline: none;
    }
    img{
        display: none;
    }
    form ,#ans{
        width: 100%;
        padding: 20px;
    }
}